.header {
  display: flex;
  justify-content: space-between;
}

.arrowBack:hover {
  background-color: var(--light);
  border-radius: 0.7vmin;
  cursor: pointer;
}

.FlashCardForm {
  display: flex;
  flex-direction: column;
  padding: 3vmin 3vmin;
  margin-top: 1rem;
  width: 100%;
  color: black;
}

.radio-buttons-group-label {
  text-align: left;
  margin-top: 1rem;
  color: black;
}

.radio-buttons-group {
  display: flex;
  flex-direction: column;
}

.show-pinyin {
  margin-top: 0.5rem;
}

.quiz-subtext {
  text-align: left;
  margin-top: 2vmin;
}