.study {
  width: 100%;
  text-align: left;
 
  &__body {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    text-align: left;
    line-height: 2.25rem;
    font-size: 1.25rem;
  }

  &__word {
      cursor: pointer;
    display: inline-block;

    &:hover:not(.study__word--active){
      background: #ddfcf6;
    }
  }
}