.study {
  width: 100%;
  text-align: left;

  &__language {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
 
  &__body {
    display: inline-flex;
    flex-wrap: wrap;
    row-gap: 1.75rem;
    column-gap: 1rem;
    text-align: left;
    line-height: 2.25rem;
    font-size: 1.25rem;
  }

  &__word {
      cursor: pointer;
    display: inline-block;

    &:hover:not(.study__word--active){
      background: #ddfcf6;
    }
  }
}