.reusable-button {
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 1.25rem;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 110px;
}

.primary-button {
  background-color: var(--primary);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  color: #0c1f1b;
}

.primary-button:hover {
  background-color: #3d8679;
  box-shadow: none;
  color: var(--darkest);
  transition: 0.2s;
}

.secondary-button {
  background-color: #dadada;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.secondary-button:hover {
  background-color: #b0b0b0;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.tertiary-button {
  background: none;
  border: 1px solid var(--primary);
  color: #006769;
}

.tertiary-button:hover {
  background-color: var(--light);
  transition: 0.2s;
}

.danger-button {
  background-color: #dc3545;
  color: #fff;
}

.danger-button:hover {
  background-color: #bb2d3b;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
  transition: 0.2s;
}
