.demo-difficulty-tag-beginner {
  background-color: #cce4f0;
  padding: 1vmin 1vmin;
  border-radius: 10px;
  color: #094a68;
  width: 100%;
}

.demo-difficulty-tag-intermediate {
  background-color: #f0edcc;
  padding: 1vmin 1vmin;
  border-radius: 10px;
  color: #6b6202;
  width: 100%;
}

.demo-difficulty-tag-advanced {
  background-color: #efbdbd;
  padding: 1vmin 1vmin;
  border-radius: 10px;
  color: #560404;
  width: 100%;
}
