.save-word-popup {
    position: absolute;
    background-color: #effffc;
    border: 1px solid #bed3d1;
    border-radius: 1vmin;
    padding: 1.75vmin 1.5vmin 0 1.5vmin;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    overflow: visible;
    z-index: 1;
  
    &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      bottom: 0;
    }
  
    &__arrow {
      position: absolute;
      bottom: 0;
      left: 20%;
      margin-bottom: -5px;
      margin-left: -10px;
      background-color: #effffc;
      transform: rotate(45deg);
      height: 15px;
      width: 15px;
      z-index: -1;
      box-shadow: 2px 2px 2px 0 rgba(178, 178, 178, 0.4);
    }
  
    &__glyphs {
      font-size: 2rem;
      color: black;
      font-weight: bold;
    }
  
    &__pinyin,
    .popup-meaning {
      font-size: 0.9rem;
      color: $drk-txt;
      margin: 0.5vmin 0;
    }
  
    &__close-btn {
      font-size: 24px;
      background: none;
      border: none;
      cursor: pointer;
      position: absolute;
      top: -8px;
      right: 2px;
      color: hsl(174, 19%, 69%);
    }
  
    &__save-button {
      background-color: #58bdaa;
      cursor: pointer;
      position: absolute;
      width: 24px;
      height: 24px;
      font-size: 20px;
      border-radius: 50%;
      bottom: 10px;
      right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
  
      &--saved {
        background-color: inherit !important;
        color: #62bfaf;
        position: absolute;
        right: 10px;
      }
    }
  
    &:disabled {
      /* opacity: 50%; */
      cursor: auto;
    }
  
    @media (max-width: 768px) {
      &__glyphs {
        font-size: 1.7rem;
      }
    }
  
    @media (max-width: 550px) {
      &__glyphs {
        font-size: 1.5rem;
      }
  
      &__pinyin,
      &__meaning {
        font-size: 0.8rem;
      }
    }
  }
  
