<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="page-title"><%= title %></h1>

    <nav class="navbar">
      <a href="/articles/all">Articles</a>
      <a href="/decks/all">Decks</a>
      <% if (user) { %>
          <a href="/articles">My Articles</a>
          <a href="/logout">LOG OUT</a>
      <% } else { %>
          <a href="/auth/google" class="login">LOG IN</a>
      <% } %>
    </nav>
    
<main>