// Variables
$primary-color: #282c34;
$link-color: #61dafb;
$font-size-base: 10px;
$logo-size: 40vmin;


.App {
  text-align: center;

  &-logo {
    height: $logo-size;
    pointer-events: none;

    @media (prefers-reduced-motion: no-preference) {
      animation: logo-spin infinite 20s linear;
    }
  }

  &-header {
    background-color: $primary-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(#{$font-size-base}  + 2vmin);
    color: white;
  }

  &-link {
    color: $link-color;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
