.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--teal);
  height: 100vh;
}

.hero {
  display: grid;
  grid-template-columns: 50% 50%;
  border: 1px solid black;
  width: 100%;
  height: 70%;
  padding: 0 5vmin;
}

.hero-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vmin;
  padding: 0 3vmin;
}

.auth-btns {
  display: flex;
  gap: 1vmin;
}