.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--off-white);
}

.hero {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 70vh;
  padding: 0 7vmin;
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 5vmin 2vmin;
}

.hero-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vmin;
  padding: 0 8vmin;
}

.hero-right > h1 {
  margin-bottom: 1vmin;
  font-size: 1.3rem;
}

.hero-right > p {
  font-size: .9rem;
}


.why {
  background-color: var(--beige-lt);
  margin: 0;
  padding: 6vmin 7vmin;
}

.why > h1 {
  font-size: 2rem;
  margin-bottom: 3vmin;
}

.why-cards {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 1.5vmin;
  padding-top: 1vmin;
}

.why-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2vmin;
}

.why-icon {
  font-size: 3rem;
  color: var(--teal);
  margin-bottom: 1vmin;
}

.why-card-title {
  font-size: 1.2rem;
}

.why-card-content {
  padding-top: 1vmin;
  font-size: 1rem;
}

.features {
  display: flex;
  flex-direction: column;
  background-color: var(--teal-lt);
  margin: 0;
  padding: 6vmin 7vmin;
}

.feature {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  gap: 2vmin;
}

.feature-txt {
  text-align: left;
}

.feature-txt > h1 {
  font-size: 2rem;
  padding-bottom: 1vmin;
}

.feature-txt > p,
.gpt-demo > p {
  font-size: 1rem;
}

.feature-txt > h4 {
  margin: 4vmin 0 1.5vmin 0;
  font-size: 1.4rem;
}

.feature-icon {
  font-size: 1.3rem;
  margin-right: 1.5vmin;
  color: var(--red-brick)
}

.gpt-demo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vmin;
  padding: 5vmin;
}

.gpt-demo-img {
  margin-top: 2vmin;
}

.emphasize {
  color: var(--red-brick);
  font-weight: 800;
}