.TextListItem {
  display: flex;
  justify-content: space-between;
  gap: 4vmin;
  background-color: white;
  border-bottom: 1px solid var(--light);
  color: var(--drk-txt);
  text-align: left;
  width: 100%;
  padding: 2vmin 3vmin 2vmin 0;
}

.TextListItem > .left-side {
  display: flex;
  gap: 2vmin;
  margin-left: 1vmin;
}

.read-btn {
  align-self: flex-end;
}

.item-content {
  text-decoration: none;
  color: var(--drk-txt);
}

.star-icon-empty,
.star-icon-filled {
  font-size: 3.2vmin;
}