.TextListItem {
  display: flex;
  justify-content: space-between;
  gap: 4vmin;
  background-color: var(--drk-bg);
  border-bottom: 1px solid var(--light);
  color: var(--lt-txt);
  text-align: left;
  width: 100%;
  padding: 2vmin 3vmin;
}

.read-btn {
  align-self: flex-end;
}