.SavedWordsList {
  display: flex;
  flex-direction: column;
  padding: 1vmin 1vmin;
  width: 100%;
  background-color: #F5FAF9;
  color: var(--drk-txt);
}

.SavedWordsList > h1 {
  align-self: flex-start;
  margin: 3vmin;
  padding-left: 2vmin;
}

.sidebar-heading ~ p {
  text-align: left;
  margin: 0 3vmin;
}

.study-btn {
  display: flex;
  flex-direction: column;
  position: relative;
}

.study-icon {
  font-size: 7vmin;
  color: var(--teal);
  margin: 0 0 2vmin 0;
  width: 50%;
  position: absolute;
  right: -4.5vmin;
  bottom: -.5vmin;
  transform: rotate(5deg);
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
}

.study-icon:hover {
  animation: wiggle 0.5s ease-in-out infinite;
  color: var(--red-brick);
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
}

.study-btn-txt {
  font-size: .8rem;
  position: absolute;
  right: 5vmin;
  bottom: 1vmin;
}