
.dashboard-nav {
    display: flex;

    &__button {
        background-color: unset;
        padding: 0px;
    }

    &__side-nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        border-color: rgb(217, 217, 217);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        background-color: white;
        width: 285px;
        padding: 2rem 1rem 0.5rem 1rem;
        border: 1px solid #E1E3E3;
        

        &-links-container {
            display: flex;
            flex-direction: column;
            width: 100%;
        }     
    }

    &__nav-links {
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }

    &__nav-footer {
        padding-bottom: 0;
        margin-bottom: 0;
        width: 95%;
    }

    &__link {
        color: black;
        text-decoration: none;

        &--active {
            font-weight: 600;
            margin-left: 4px;
        }
    }

    &__flipped {
        transform: rotateX(180deg) rotateY(180deg);
    }

    &__nav-item {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.625rem;
        border-radius: 0.5rem;
        align-self: stretch;
        
        &--active{
            display: flex;
            background-color: #e3f0f3;
            gap: 1rem;
            align-items: center;
            padding: 0.625rem;
            border-radius: 0.5rem;
        }
    }

    &__logo {
        width: 11rem;
    }

    &__logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        color: black;
    }

    &__dash-icon {
        font-family: "Material Symbols Outlined";
        font-variation-settings: "FILL" 1;        
    }

    &__nav-icon {
        color: #C0E7EB;
        font-size: 28px;

        &--active {
            color: var(--dark-action);
        }
    }
}
