
.dashboard-nav {
    display: flex;

    &__side-nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        border-color: rgb(217, 217, 217);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        background-color: white;
        width: 350px;

        &-links-container {
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            margin-left: 1rem;
            width: 95%;
        }     
    }

    &__nav-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        list-style: none;
        padding-left: 0;
    }

    &__nav-footer {
        padding-bottom: 0;
        margin-bottom: 0;
        margin-left: 1rem;
        width: 95%;
    }

    &__link {
        color: black;
        text-decoration: none;
        margin-bottom: 0.5rem;

        &--active {
            font-weight: 600;
        }
    }

    &__nav-item {
        margin-bottom: 0.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__logo {
        width: 11rem;
    }

    &__logo-container {
        width: 95%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 2rem;
        color: black;
    }

    &__browse-icon {
        font-family: "Material Symbols Outlined";
        font-variation-settings: "FILL" 1;
        font-size: 1.75rem;
        color: var(--dark-action);
    }

}