.play-btn {
  margin-top: 3vmin;
  font-size: 1.1rem;
  padding: 1vmin 2vmin;
  background-color: var(--slate);
  color: white;
  transition: transform 0.3s ease-in-out;
}

.play-btn:hover {
  background-color: var(--teal);
  transform: scale(1.1);
}