.navbar-nav {
    gap: 16px;
}

.nav-link {
    position: relative;
    transition: all 0.3s;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 3px;
    bottom: 3px;
    width: 0;
    height: 2px;
    background-color: hsl(169, 43%, 54%);
    transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
    width: 90%;
    color: hsl(169, 43%, 54%);
}

