.TranslateText {
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  margin: 0 3vmin 0 3vmin;
  padding: 4vmin 2vmin;
  color: var(--drk-txt);
}

.translate-text-block {
  margin-top: 2vmin;
  line-height: 40px;
  font-size: 30px;
  text-align: left;
}