.flashcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  border-radius: 1vmin;
  box-shadow: 7px 7px 7px -6px rgba(0,0,0,0.7);

}

.flashcard-back {
  border: 2px solid var(--teal);
}

.flashcard-front {
  border: 2px solid var(--white);
}

.flashcard-front,
.flashcard-back {
  padding: 4vmin 0;
  width: 100%;
  height: 18vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 5vmin;
  border-radius: 1vmin;
}

.flashcard-front .pinyin,
.flashcard-back .pinyin {
  font-size: 2vmin;
}

.flashcard-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vmin 0;
  gap: 2vmin;
}

.correct-btn,
.incorrect-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vmin;
  padding: 2vmin 3vmin;
}

.correct-btn {
  border: 2px solid var(--green-drk);
  color: var(--green-drk);
}

.incorrect-btn {
  border: 2px solid var(--red-brick);
  color: var(--red-brick);
}

.correct-btn:hover,
.incorrect-btn:hover {
  background-color: white;
}

.flashcard-icon {
  font-size: 3vmin;
}