.flashcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  border: 1px solid var(--light);
  border-radius: 1vmin;
}

.flashcard-front,
.flashcard-back {
  padding-top: 4vmin;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 5vmin;
}

.flashcard-front .pinyin,
.flashcard-back .pinyin {
  font-size: 2vmin;
}

.flashcard-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vmin 0;
  gap: 2vmin;
}

.correct-btn,
.incorrect-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vmin;
  padding: 2vmin 3vmin;
}

.flashcard-icon {
  font-size: 3vmin;
}