.slider {
  position: fixed;
  top: 5rem;
  right: -100%;
  width: 400px;
  height: 90%;
  background-color: #f2f5f5;
  color: black;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  text-align: left;

  &.open {
    right: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    padding-inline-start: 1.5rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__close {
    display: flex;
    justify-content: end;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
  }

  &__body {
    flex: 1;
    overflow-y: auto;
    margin-top: 1rem;
  }

  &__card {
    background: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
  }

  &__footer {
    padding-top: 1rem;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: center;
  }

  &__confirm {
    background-color: #086a6c;
    color: white;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #074b59;
    }
  }
}
