.ReadText {
  display: flex;
  flex-direction: column;
  grid-template-columns: 50% 50%;
  gap: 2vmin;
  margin: 0 3vmin 0 3vmin;
  padding: 4vmin 2vmin;
  color: var(--drk-txt);
}

.top {
  display: flex;
  justify-content: flex-end;
}

.accordion-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3vmin;
}

.section-heading {
  font-size: 1.2rem;
}

.container {
  display: flex;
}

.read-text-block {
  margin-top: 2vmin;
  line-height: 4vmin;
  letter-spacing: .3vmin;
  font-size: 2.5vmin;
  text-align: left;
  white-space: pre;
}

.read-text-block > .zh {
  text-wrap: wrap;
}

.bottom.side-by-side {
  margin-left: 1vmin;
}

.block-heading {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 2vmin 2vmin 0;
}

.expand-icon {
  font-size: 4vmin;
  color: var(--teal);
}

.read-text-block.simplified {
  margin-right: 1vmin;
  border-right: 1px solid var(--gray-lt)
}

.simplified-text {
  margin-top: 2vmin;
  line-height: 4vmin;
  letter-spacing: .3vmin;
  font-size: 2.3vmin;
}

.generate-txt {
  font-size: 3vmin;
  margin: 2vmin;
}

.generate-btn {
  align-self: center;
  margin: 3vmin 0;
  font-size: 2.8vmin;
  padding: 2vmin 4vmin;
  background-color: var(--teal-lt);
  transition: transform 0.3s, background-color 0.3s;
}

.generate-btn:hover {
  transform: scale(1.1);
  background-color: var(--off-white);
  cursor: pointer;
}

.save-btn {
  align-self: center;
  margin: 3vmin 0;
  font-size: 2.5vmin;
  padding: 1.5vmin 2.5vmin;
  background-color: var(--teal-lt);
  transition: transform 0.3s, background-color 0.3s;
}

.generate-btn:hover {
  transform: scale(1.1);
  background-color: var(--off-white);
  cursor: pointer;
}

.disclaimer {
  font-style: italic;
  margin-top: 2vmin;
  line-height: 2vmin;
  letter-spacing: 0;
  font-size: 1.8vmin;
}

/* HTML: <div class="loader"></div> */
.loader {
  margin: 4vmin 0;
  align-self: center;
  width: 70px;
  aspect-ratio: 1;
  --_c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
  background: 
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
}
@keyframes l7 {to{transform: rotate(.5turn)}}

.bulb-icon {
  color: var(--gold);
  font-size: 4vmin;
  margin-right: 1vmin;
  transform: rotate(-8deg);
  transition: transform 0.3s ease-in-out;
}

.bulb-icon:hover {
  color: var(--yellow);
  animation: wiggle 0.5s ease-in-out infinite;
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(7deg);
  }
  50% {
    transform: rotate(-7deg);
  }
  75% {
    transform: rotate(7deg);
  }
}

.learn-btn {
  margin: 0 0 .5vmin 0;
  background-color: var(--teal-lt);
  font-size: .9rem;
  cursor: pointer;
  animation: pulse .5s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.02);
  }
}