.ReadText {
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  margin: 0 3vmin 0 3vmin;
  padding: 4vmin 2vmin;
  color: var(--drk-txt);
}

.read-text-block {
  margin-top: 2vmin;
  line-height: 4vmin;
  letter-spacing: .3vmin;
  font-size: 2.5vmin;
  text-align: left;
}

.simplified-text {
  margin-top: 2vmin;
  line-height: 4vmin;
  letter-spacing: .3vmin;
  font-size: 2.5vmin;
}

.disclaimer {
  font-style: italic;
  margin-top: 2vmin;
  line-height: 1.8vmin;
  letter-spacing: 0;
  font-size: 1.5vmin;
}