.signup-page {

    &__container {
        display: grid;
        grid-template-columns: 1fr;
        margin-inline: auto;
    }

    &__title {
        font-size: 2rem;
        text-align: center;
        color: black;
        padding: 1em;
    }

    &__error-message {
        color: red;
        font-size: 1.2rem;
        margin-bottom: 0.5em;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 0.8em;
        align-items: center;
    }

    &__button {
        width: 100%;
        max-width: 400px;
        background-color: #086A6C;
        color: white;
        font-weight: 600;

        &-google {
            background-color: #E5F2F6;
            color: #086A6C;
            &--icon {
                max-height: 2em;
            }
        }
    }
}

.password-validation {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.password-validation li {
    font-size: 0.9rem;
    color: #556163;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
    margin: 8px;
}

.password-validation svg {
    max-width: 24px;
}