.signup-page-main {
    min-height: 100vh;
  }

.signup-page {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.signup-container {
    background-color: aquamarine;
    min-width: fit-content;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.5);
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.form-container * {
    width: 250px;
}

button > svg {
    max-width: 25px;
}

button > span {
    text-align: left;
    vertical-align: middle;
}

.password-validation {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.password-validation li {
    font-size: 0.9rem;
    color: #556163;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
    margin: 8px;
}

.password-validation svg {
    max-width: 24px;
}