.signup-page-main {
    min-height: 100vh;
  }

.signup-page {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.signup-container {
    background-color: aquamarine;
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.form-container * {
    width: 190px;
}

.signup-text {
    text-align: left;
}
