.StudyText {
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  margin: 0 3vmin 0 3vmin;
  padding: 4vmin 2vmin;
  color: var(--drk-txt);
}

.study-text-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 4vmin;
}