.sentence-line {
  margin-bottom: 2vmin;
}

.sentence {
  margin: 1vmin 0;
  letter-spacing: .7vmin;
}

.hide-translation,
.show-translation {
  letter-spacing: 0;
  text-decoration: underline;
  font-size: 1.3rem;
}

.hide-translation:hover,
.show-translation:hover {
  color: var(--red);
  cursor: pointer;
}

/* small screens and smaller */
@media (max-width: 550px) { 
  .hide-translation,
  .show-translation {
    font-size: 1rem;
  }

}