.form-container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vmin;
}

.back-btn {
  align-self: flex-start;
  margin-left: 6vmin;
  font-size: 1.5rem;
  cursor: pointer;
}

.login-btn {
  background-color: white;
  color: var(--teal);
  padding: 1vmin 2vmin;
  font-size: 1rem;
  font-weight: 600;
  margin: 1vmin 0;
}

.login-btn:hover {
  background-color: white;
  color: var(--red-brick);
}