.dashboard {
    display: flex;
}

.dashboard.side-nav {
    border-color: rgb(217, 217, 217);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: white;
    width: 350px;
}

.dashboard.side-nav>.nav-main-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 1rem;
    width: 95%;
}

.dashboard.logo-container {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
}

.dashboard.logo {
    width: 50px;
}

.dashboard.logo-container>h4 {
    color: black;
    margin: 0.5rem;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    padding-left: 0;
}

.nav-links>li {
    margin-bottom: 0.5rem;
}

.nav-links>li:last-child {
    margin-bottom: 0;
}

.link {
    color: black
}

.link.active {
    font-weight: 600;
}

.side-nav>.nav-footer-container {
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 1rem;
    width: 95%;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.user-info {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user-info>button {
    background-color: white;
    display: flex;
}

.user-info>button>p {
    margin: 0.5rem;
}

.user-profile-picture {
    width: 37.5px;
}

.user-profile-dropdown {
    font-weight: bold;
    color: rgb(8, 106, 108);
    transform: rotateZ(-45deg);
}

.dashboard.header-container {
    color: black;
    margin-left: 1rem;
}

.stats-container {
    color: rgb(50, 106, 118);
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.stat {
    width: 23%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgb(229, 242, 246);
    border-radius: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
}

.stat>* {
    margin: 0;
    margin-left: 1rem;
}

.stat>.hidden {
    color: transparent;
}

.dashboard.subtitle {
    color: black;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}

.sub-container {
    width: 100%;
    margin-top: 0.5rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard.sub-content {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: rgb(229, 242, 246);
    border: 2px solid rgb(8, 106, 108);
    border-radius: 0.5rem;
    width: 90%;
    height: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.dashboard.sub-content>* {
    margin-left: 1rem;
}

.dashboard.sub-content>.dashboard.card-title {
    color: black;
    font-size: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    overflow: hidden;
    white-space: nowrap;
}

.dashboard.sub-content>.dashboard.card-body {
    margin-top: 0rem;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
    overflow: hidden;
    white-space: nowrap;
}

.sub-container>button {
    background-color: rgb(8, 106, 108);
    color: white;
    width: 7.5rem;
    height: 100%;
    margin-right: 1rem;
}

.recently-added {
    display: flex;
    flex-direction: column;
}

.recently-added>.sub-container>.sub-content {
    background-color: white;
    border: 1px solid rgb(8, 106, 108);
}

.recently-added>.sub-container>button {
    background-color: rgb(229, 242, 246);
    color: rgb(8, 106, 108);
}

.dashboard.card-buttons {
    height: 6rem;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.add-item-button,
.view-all-button {
    height: 2.5rem;
}

.add-item-button {
    background-color: rgb(8, 106, 108);
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.view-all-button {
    background-color: rgb(229, 242, 246);
    color: rgb(8, 106, 108);
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}