@mixin hoverFX($bg-color, $text-color) {
    background-color: $bg-color;
    color: $text-color;
    transition: background-color 0.2s ease, color 0.2s ease; // Transition effect for both properties
}

.dashboard-button {
    display: flex;
    gap: 8px;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;

    &__icon-flip {
        transform: rotateX(180deg) rotateY(180deg);
    }

    &:disabled {
        border-radius: 0.375rem;
        border: 1px solid var(--KN-gray-400, #E1E3E3);
        background: var(--KN-gray-100, #FFF);
        color: #E1E3E3;
    }

    &--primary {
        background-color: var(--action);
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
        color: white;

        &:hover {
            @include hoverFX(var(--dark-action), white); // Using variables for hover
        }
    }

    &--secondary {
        background-color: white;
        color: var(--action);
        border: 1px solid var(--action);

        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);

        &:hover {
            @include hoverFX(var(--light), var(--action)); // Using variables for hover
        }
    }
}
