.flexTest {
    display: flex;
  /* flex-direction: column; */
    justify-content: center; 
    gap: 30px;
    margin-top: 100px;
}

.caroSize {
    height: 55vh;
    width: 35vw;
    box-shadow: 10px 5px 5px grey;  
}

h3, p {
    color: white;
    text-shadow: 3px 3px black;
}
