.text-area {
  background: rgb(249,177,122);
  background: linear-gradient(0deg, rgba(249,177,122,1) 39%, rgba(255,237,203,1) 69%);
  margin: 0 3vmin 0 3vmin;
  height: 100vh;
  border-radius: 5vmin 5vmin 0 0;
}

.tabs {
  display: flex;
  gap: 1vmin;
  margin-left: 10vmin;
}

.tab-btn {
  border-radius: 1vmin 1vmin 0 0;
  padding: 2vmin 4vmin;
  font-size: 2vmin;
  background-color: var(--lt-orange);
}

.tab-btn.active {
  color: red;
}

.read-container,
.study-container {
  display: none;
  
}

.read-container.active,
.study-container.active {
  display: block;
}

