.SavedWordsList {
  display: flex;
  flex-direction: column;
  padding: 1vmin 0;
  width: 100%;
  background-color: var(--dark);
  color: var(--drk-txt);
}

.sidebar-heading {
  margin: 3vmin;
}

.study-btn {
  align-self: center;
  margin: 0 0 2vmin 0;
  width: 50%;
}