.intro,
.creator,
.core-contributors,
.how-to-contribute,
.backstory {
    margin-top: 2rem;
}

.contributor-container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 15px 15px;
    align-items: center;
    justify-content: center;
}

.contributor-container > div {
    background-color: #fff; /* Background color for the box */
    padding: 20px; /* Padding inside the box */
    border-radius: 2px; /* Rounded corners */
    text-align: center; /* Center text */
}

#contributor-name {
    font-weight: bold;
    margin-bottom: 1rem;
}

.contributor-links{
    margin-top: 10px;;
    margin-bottom: 20px;
}