.intro,
.creator,
.core-contributors,
.how-to-contribute,
.backstory {
    margin-top: 2rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-header {
    margin-bottom: 1.5rem;
}

.about-body {
    margin-top: 1.5rem;
    max-width: 70ch;
    line-height: 1.7;
}

.creator {
    background-color: var(--light);
    border-radius: 20px;
    padding: 40px;
    font-size: 1rem;
}

.creator-heading {
    text-align: left;
    margin: 0 0 20px 0;
}

.creator-container {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
}

.creator-container-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.abigail-taiwan {
    border-radius: 10px;
    width: 400px;
}

.creator-container-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    padding-right: 60px;
}


.how-to-contribute ul {
    list-style-type: none;
    text-align: center;
    max-width: 70ch;
}

.how-to-contribute ul li {
    margin-top: 1.5rem;
}

.li-header {
    display: block;
    font-weight: bold;
    margin-bottom: 1rem;
}