<%- include('../partials/header') %>

<form action="/cards/show-results" method="GET">
    <label for="search">Search for a word! </label>
    <input type="search" id="word-search" name="search">
    <button type="submit">Search</button>
</form>

<%- include('../partials/footer') %>
