.Popup {
  position: absolute;
  background-color: #effffc;
  border: 1px solid #bed3d1;
  border-radius: 1vmin;
  padding: 1.75vmin 1.5vmin 0 1.5vmin;
  left: 50%; 
  top: 50%; 
  margin-left: -10%; 
  margin-top: -10%; 
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  min-width: 20%;
  overflow: visible;
  z-index: 1;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  bottom: 0;
}

.popup-arrow {
  position: absolute;
  bottom: 0;
  left: 20%;
  margin-bottom: -5px;
  margin-left: -10px;
  background-color: #effffc;
  transform: rotate( 45deg );
  height: 15px;
  width: 15px;
  z-index: -1;
  box-shadow: 2px 2px 2px 0 rgba( 178, 178, 178, .4 );
}

.popup-glyphs {
  font-size: 3vmin;
  color: black;
  font-weight: bold;
}

.popup-pinyin,
.popup-meaning {
  font-size: 1.5vmin;
  color: var(--drk-txt);
}

.popup-pinyin,.popup-glyphs,.popup-meaning {
  margin: 0.5vmin 0; 
}

.close-btn {
  font-size: 2.5vmin; 
  font-family: 'roboto';
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: none;
  border: none;
  padding: 1vmin 1vmin 0 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0vmin;
  color: #bed3d1;
}

.save-button {
  background-color: #58bdaa;
  cursor: pointer;
  position: absolute;
  width: 1vmin;
  height: 2.25vmin;
  font-size: 2.5vmin; 
  border-radius: 60%;
  bottom: 0.8vmin;
  right: 0.6vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
