.Word,
.specialChar {
  display: flex;
  flex-direction: column;
  height: 9vmin;
  max-width: 10vmin;
  margin: 0 .5vmin;
  font-size: 2.5vmin;
  text-wrap: wrap;
}

.specialChar {
  width: 2vmin;
}

.Word p,
.specialChar p {
  margin: 0;
}

.annotation {
  height: 6vmin;
  text-wrap: wrap;
  font-size: 1.3vmin;
  color: var(--drk-txt);
}

