.show-preview-modal-backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

.show-preview-modal {
  padding: 1vmin 3vmin;
}

.show-preview-modal * {
  border: none;
}

.show-preview-modal-header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.show-preview-modal-header-message {
  width: 90%;
  font-size: 0.8rem;
  background-color: #cce4f0;
  color: #094a68;
  border: solid #094a68 1px;
  border-radius: 5px;
  padding: 1vmin;
}

.show-preview-modal-exit-button {
  font-size: 2rem;
}

.show-preview-modal-exit-button:hover {
  background-color: var(--light);
  border-radius: 0.7vmin;
  cursor: pointer;
}

.show-preview-modal-body {
  display: flex;
  flex-direction: column;
  color: black;
}

.show-preview-modal-chinese-character {
  font-size: 3rem;
  color: black;
  margin-bottom: 1.5rem;
}

.show-preview-modal-difficulty-source-ctn {
  font-size: 0.8rem;
  margin-bottom: 2.5rem;
}

.show-preview-modal-view-source {
  text-decoration: underline;
  color: gray;
}

.show-preview-modal-difficulty-tag {
  display: inline-block;
  margin-right: 1rem;
}

.show-preview-modal-text {
  font-size: 1.3rem;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.show-preview-modal-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-preview-modal-load-text-btn {
  background-color: var(--dark-action);
  color: var(--teal-lt);
}

.show-preview-modal-close-btn {
  color: var(--dark-action);
  background-color: var(--teal-lt);
}
