.form-container {
  width: 100%;
}

.NewTextForm * {
  width: 100%;
}

.add-btn {
  align-self: center;
  width: 30%;
  margin-top: 1vmin;
  font-size: 1.1rem;
  padding: 1vmin 2vmin;
  background-color: var(--slate);
  color: white;
  transition: transform 0.3s ease-in-out;
}

.add-btn:hover {
  background-color: var(--teal);
  transform: scale(1.1);
}