nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vmin;
  height: 12vmin;
  background-color: var(--slate);
  color: var(--dark);
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: var(--off-white);
  transition: color 0.3s ease;
  font-size: 1rem;
  text-transform: uppercase;
}

.nav-link:hover,
.nav-link.active {
  color: var(--beige-lt);
  font-weight: bold;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--beige-lt);
  transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}