nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vmin;
  height: 12vmin;
  background-color: var(--slate);
  color: var(--dark)
}

.nav-link {
  text-decoration: none;
  color: var(--off-white);
}

.nav-link:hover {
  text-decoration: none;
  color: var(--beige-lt);
}