.input-box {

   /* Password visibility icon */
   &__icon {
    position: absolute;
    right: 15px;
    top: 23px;
    cursor: pointer;
    color: black;
    user-select: none;
  }

  
   /* --- INPUT STYLING & ANIMATION --- */
&__input-container {
  position: relative;
  max-width: 400px;
  width: 100%;
  height: 50px;
  padding-top: 10px;
}

&__input-field {
  background-color: #E1E3E3;
  width: 100%;
  border-radius: 8px;
  border: #E1E3E3;
  padding: 12px;
  font-size: 16px;
  position: relative;

  &:focus,
  &:not(:placeholder-shown) {
    background-color: white;
    border: 2px solid var(--action);
  }

  &:focus {
    outline: none;
  }
}

&__label-container {
  position: absolute;
  top: 70%;
  left: 10px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  font-size: 16px;
  color: #383E40;
  pointer-events: none;
}

/* might need to fix still, also the errors need to be hidden unless there is an error after user clicks outside of the input. Might need to add back code */

input:invalid[focused="true"] ~ &__label-text--error {
  display: flex;
  text-align: left;
  font-size: 12px;
  color: red;
  margin-top: 5px;
}

&__label-text--error {
  display: none; /* Initially hidden */
}

&__input-container.has-error {
  margin: 20px;
  display: block;
}

/*-------------------------------------------------------------------*/
/* Focused state for the label */
&__input-field:focus + &__label-container,
&__input-field:not(:placeholder-shown) + &__label-container {
  top: 10px;
  font-size: 14px;
  background-color: white;
  padding: 0 5px;
  color: var(--action);
  border-radius: 5px;
}
}

@media (max-width: 768px) {
.login-page {
  &__input-field {
    font-size: 14px;
  }

  &__label-container {
    font-size: 14px;
    top: 64%;
  }
 
  &__input-field:focus + &__label-container,
  &__input-field:not(:placeholder-shown) + &__label-container {
    font-size: 13px;
  }
}
}

@media (max-width: 320px) {
.login-page__error-container {
  height: 40px;
}
}
