.dash-sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--beige-lt);
  border: 3px solid var(--off-white);
  height: 100%;
  width: 100%;
}

.sidebar-heading {
  align-self: center;
}

.welcome {
  margin-top: 2vmin;
}

.sidebar-heading > h3 {
  font-size: 1rem;
}

.sidebar-heading > h1 {
  font-size: 2.2rem;
  color: var(--red-brick);
  margin: 1vmin 0 0 0;
}

.stats {
  padding: 1vmin 3vmin;
}

.stat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid var(--slate);
  padding: 2vmin 0;
}

.stat-icon {
  font-size: 3.5rem;
  color: var(--teal);
  margin-bottom: 1vmin;
}

.stat-heading,
.stat-subheading {
  font-size: 1rem;
}

.num {
  font-size: 4rem;
  color: var(--teal);
}