.SavedWordsList {
    display: flex;
    flex-direction: column;
    padding: 3vmin 3vmin;
    width: 100%;
    background-color: #f5faf9;
    color: black;
    margin-top: 1rem;
    overflow: hidden;
}

.arrowBack:hover {
    background-color: var(--light);
    border-radius: 0.7vmin;
    cursor: pointer;
}

.demo-saved-words-header-container {
    display: flex;
    justify-content: space-between;
}
.sidebar-heading {
    text-align: left;
    font-size: 1.75rem;
}

.saved-word-list-subtext {
    text-align: left;
    margin-top: 2vmin;
}

.saved-words-list-container {
    margin-top: 2vmin;
    padding-right: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.saved-words-list-container::-webkit-scrollbar {
    width: 8px;
}

.saved-words-list-container::-webkit-scrollbar-track {
    background: hsl(240, 6%, 77%);
    border-radius: 8px;
}

.saved-words-list-container::-webkit-scrollbar-thumb {
    background: hsl(181, 100%, 26%);
    border-radius: 8px;
}

.saved-words-list-container::-webkit-scrollbar-thumb:hover {
    background: hsl(181, 100%, 31%);
}

.add-word-btn:hover {
    background-color: var(--teal);
    transform: scale(1.1);
}
