.SavedWord {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  text-align: left;
  text-wrap: wrap;
  background-color: var(--light);
  color: var(--drk-txt);
  padding: 1.3vmin 1.3vmin 1.3vmin 1vmin;;
  margin: 0 1vmin;
  border-bottom: 1px solid var(--lt-bg)

}

.left-side {
  display: flex;
  gap: 1vmin;
}

.delete-btn {
  font-size: 2.5vmin;
  color: var(--red);
}

.char-pinyin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.char-pinyin > .char {
  font-size: 2.6vmin;
}

.char-pinyin > .pinyin {
  font-size: 1.3vmin;
}

.meaning {
  margin-left: 2.8vmin;
}

.right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.updateMeaningForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.updateMeaningForm > input,
.updateMeaningForm > button {
  color: var(--drk-txt);
}

.updateMeaningForm > input {
  width: 70%;
  padding: 1vmin;
  font-size: 2vmin;
}

.submit-btn {
  font-size: 2.7vmin;
  background-color: var(--light);
}

.submit-btn:hover {
  background-color: var(--light);
}

.edit-btn,
.submit-btn {
  margin: 0;
  padding: 0;
  font-size: 2.2vmin;
}