@use "../../../../../index.scss" as *;

.sentence {
    margin-bottom: 2vmin;
    position: relative;
  
    &__characters {
      margin: 1vmin 0;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 32px;
      letter-spacing: 0.3rem;
      color: darkest;
    }
    
    &__toggle-translation {
      position: absolute;
      color: $primary;
      background-color: inherit;
      left: -3.4rem;
      top: 1.2rem;
      font-size: 1.8rem;
      padding: 5px;
      margin-left: 0px;
      cursor: pointer;
  
      &:hover,
      &.translation-visible {
        color: $white;
        background-color: $primary;
        border-radius: 100%;
      }
    }
  }
  
  // Small screens and smaller
  @media (max-width: 400px) {
    .sentence {
      .toggle-translation {
        left: -2.8rem;
      }
    }
  }
  
