.flashcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  border-radius: 1vmin;
  box-shadow: none;
  border: 1px solid black;

}

.flashcard-back {
  border: none;
}

.flashcard-front {
  border: none;

}

.flashcard-front,
.flashcard-back {
  padding: 4vmin 0;
  width: 100%;
  height: 18vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 5vmin;
  border-radius: 1vmin;
}

.flashcard-front .pinyin,
.flashcard-back .pinyin {
  font-size: 2vmin;
}

.flashcard-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vmin 0;
  gap: 2vmin;
}

.correct-btn,
.incorrect-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vmin;
  padding: 1vmin 2vmin;
}

.correct-btn {
  border: 2px solid var(--primary);
  color: var(--darkest);
  background-color: var(--primary);
}

.incorrect-btn {
  border: 2px solid var(--red-brick);
  color: var(--red-brick);
  background-color: var(--red-brick-transparent);
}

.correct-btn:hover,
.incorrect-btn:hover {
  background-color: white;
}

.flashcard-icon {
  font-size: 3vmin;
}