.TranslateText {
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  margin: 0 3vmin 0 3vmin;
  padding: 4vmin 2vmin;
  color: var(--drk-txt);
}

.translate-text-block {
  margin-top: 2vmin;
  font-size: 1.8rem;
  text-align: left;
  max-width: 900px;
}

/* medium screens and smaller */
@media (max-width: 768px) { 

  .translate-text-block {
    font-size: 1.3rem;
  }

}

/* small screens and smaller */
@media (max-width: 550px) { 
  .TranslateText {
    padding: 4vmin 0 0 5.5vmin;
  }

}