*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --teal: #7ea5a4;
  --teal-lt: #d1dddd;
  --red-poppy: #e0595c;
  --red-brick: #b64340;
  --pink: #ff9389;
  --beige-lt: #f1d7bc;
  --beige-med: #e5c4a3;
  --brown: #65302a;
  --off-white: #eff0eb;
  --gray-lt: #b9b9b9;
  --slate: #607377;
  /* --dark: #2d2d2f; */
  --red: #8c0000;
  --green-lt: #00b700;
  --green-drk: #008a00;
  --gold: #f2cf0a;
  --yellow: #fae365;

  --primary: #57bcaa; /* actions */
  --darkest: #0c1f1b; /* heading text */
  --dark: #526662; /* secondary text */
  --medium: #9cc3bc; /* non-decorative borders */
  --light: #daf2ee; /* decorative borders */
  --lightest: #f5faf9; /* alternate backgrounds */
  --white: #ffffff; /* main background */
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  color: var(--dark);
}

#root {
  height: 100%;
}

button {
  font-family: 'Roboto', sans-serif;
  padding: 1vmin 1.2vmin;
  border-radius: .7vmin;
  border: none;
  cursor: pointer;
}

.close-btn:hover {
  background: transparent;
}

.close-icon:hover {
  background: transparent;
}

.close-icon {
  font-size: 3vmin;
  color: var(--slate);
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.page {
  display: grid;
  grid-template-columns: 6% 21% 73%;
  height: 90vh;
}

.main-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  text-align: left;
  background: white;
  padding: 3vmin;
  height: 100vh;
}

.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: green;
  height: 100vh;
  padding: 0;
  background-color: var(--lightest);
  border-right: 1px solid var(--medium);
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #F5FAF9;
  border-right: 1px solid var(--medium);
  height: 100vh;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
  margin-left: 5vmin;
}

.tab-btn {
  margin: 1vmin 0 3vmin 0;
  border-radius: 1vmin;
  padding: .5vmin 2vmin;
  font-size: 2vmin;
  background-color: var(--white);
  color: var(--dark);
}

.tab-btn.active {
  background-color: var(--primary);
  color: var(--white);
}

.zh {
  font-family: 'Noto Serif TC', serif;
}