*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --drk-txt: #000000;
  --drk-bg: #5e5e5e;
  --lt-txt: #ffffff;
  --lt-bg: #ffffff;
  --light: #ececec;
  --medium: #c7c7c7;
  --dark: #9a9a9a;
  --red: #8c0000;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--drk-bg);
  color: var(--lt-txt);
  height: 100vh;
}

#root {
  height: 100%;
}

button {
  font-family: 'Roboto', sans-serif;
  padding: 1vmin 1.2vmin;
  border-radius: .7vmin;
  border: none;
  cursor: pointer;
}

.close-btn:hover {
  background: transparent;
}

.close-icon:hover {
  background: transparent;
}

.close-icon {
  font-size: 3vmin;
  color: var(--medium);
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.page {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 90vh;
}

.main-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  text-align: left;
  background: var(--dark);
  border: 3px solid var(--light);
  padding: 3vmin;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--dark);
  border: 3px solid var(--light);
  height: 100%;
}

.zh {
  font-family: 'Noto Serif TC', serif;
}