.Word:not(.specialChar) {
  cursor: pointer;
}

.Word,
.specialChar {
  display: flex;
  flex-direction: column;
  height: 6.05rem;
  max-width: 6.7rem;
  margin: 0 .5vmin;
  font-size: 1.5rem;
  text-wrap: wrap;
}

.specialChar {
  width: 2vmin;
}

.Word p,
.specialChar p {
  margin: 0;
}

.annotation p {
  font-size: .9rem;
  font-family:'Montserrat', 'Roboto', sans-serif;
}

.saved.zh {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1.5px;
}

.meaning {
  font-weight: bold;
}

.Word:not(.specialChar) .zh:hover {
  background-color: #d5fbf4;
  border-radius: 0.5vmin;
  padding: 2px;
  opacity: 0.8;
}

/* medium screens and smaller */
@media (max-width: 768px) { 

  .Word,
  .specialChar {
    font-size: 1.3rem;
  }

  .annotation {
    font-size: 0.8rem;
  }

}