.Word:not(.specialChar) {
  cursor: pointer;
}

.Word,
.specialChar {
  display: flex;
  flex-direction: column;
  height: 6.05rem;
  max-width: 6.7rem;
  margin: 0 .5vmin;
  font-size: 1.5rem;
  text-wrap: wrap;
}

.specialChar {
  width: 2vmin;
}

.Word p,
.specialChar p {
  margin: 0;
}

.annotation {
  height: 3.3rem;
  text-wrap: wrap;
  text-align: center;
  font-size: 0.85rem;
  color: var(--drk-txt);
}

.Word:not(.specialChar) .zh:hover {
  background-color: #d5fbf4;
  border-radius: 0.5vmin;
  padding: 2px;
  opacity: 0.8;
}

/* medium screens and smaller */
@media (max-width: 768px) { 

  .Word,
  .specialChar {
    font-size: 1.3rem;
  }

  .annotation {
    font-size: 0.8rem;
  }

}